################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityServer4/.vs/IdentityServer4
/.vs
/IdentityServer4/packages
