@{
    ViewData["Title"] = "Home Page";
}

<h2>OpenIDConnect MVC Client Core</h2>

<p>
    More details here: https://github.com/itorian/identityserver4-with-dot-net-core-and-full-framework/blob/master/README.md
</p>