@{
    ViewData["Title"] = "Home Page";
}

<h2>OpenIDConnect MVC Client Core</h2>

<p>
    <strong>Here's the list of features already configured in client app and identity server app:</strong>
</p>
<ul>
    <li>Using ASP.NET Identity Core</li>
    <li>Using ASP.NET Identity Core Sql Server Database</li>
    <li>Response type to client apps: id token, token</li>
    <li>Response scopes to client apps: openid profile offline_access roles</li>
    <li>Use [Authorize] or [Authorize(Roles="RoleNameFromDatabase")] on client apps</li>
    <li>Login and logout from client app</li>
    <li>Redirect to client app after logout</li>
    <li>Logout from identity server when client logged out</li>
</ul>

<p>
    Note: To run this app, please update database connection strings in IdentityServerAspNetIdentity (appsettings.json) file.
</p>